body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

hr{
    display: block;
    background-color: #e5e5e5;
    border: 0;
    width: 100%;
    height: 1px;
    margin: 40px 0;    
}



/* Page */

.page{
    overflow: hidden;
}


/* Container */
.container{
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Intro */

.intro{
    width: 100%;
    height: 100vh;
    background: url(../intro.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    display: flex;
    
    min-height: 820px;
    position: relative;
}

.intro_inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro_title{
    font-size: 150px;
    font-weight: 700;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    
}

.intro_title:after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    
    background-color: #fff;
    margin: 60px auto;
    
    
}

.intro_suptitle{
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color:#fff;
    text-align: center;
    margin: 0 auto;
    
}
/* Header */
.header{
    padding-top: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
}

.header.fixed{
    background-color: #eb8b8d;
    padding: 10px 0;
    
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    
    transform: translate3d(0, 0, 0);
    
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.header.active{
    background-color: #eb8b8d;
}

.header_inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* Nav */

.nav{
    font-size: 14px;
    text-transform: uppercase;
    
}

.nav_link{
    color: #fff;
    text-decoration: none;
    
    transition: color 0.1s linear;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    position: relative;
}
.nav_link:after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fce38a;
    

    opacity: 0;
    transition: opacity 0.1s linear;
}


.nav_link:hover{
    color:#fce38a;
    
}
.nav_link:hover:after{
    opacity: 1;
}

/* Nav toggle */

.nav_toggle{
    width: 30px;
    padding: 10px 0;
    display: none;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}


.nav_toggle_item{
    
   display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    transition: background 0.2s linear;  
}

.nav_toggle.active .nav_toggle_item{
    background: none;
}

.nav_toggle.active .nav_toggle_item:before{
    transform-origin: left top;
    transform: rotate(45deg) translateX(-3px);
}

.nav_toggle.active .nav_toggle_item:after{
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-3px);
}

.nav_toggle_item:before,
.nav_toggle_item:after{
    content: "";
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;
    
    transition: transform 0.2s linear;
}

.nav_toggle_item:before{
    top: -8px;
}

.nav_toggle_item:after{
    bottom: -8px;
}


/* Botton */
.btn{
    display: inline-block;
    border: 3px  #fff solid;
    vertical-align: top;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 30px;
    font-size: 14px;
    font-weight: 700;
    transition: color 0.1s linear,background 0.1s linear;
    
}

.btn:hover{
    background-color: #fff;
    color: #333;
}




/* Slider */

.slider{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.slider_inner{
     display: flex;
    justify-content: space-between;
    
}
.slider_item{
    width: 23%;
    padding: 20px 0;
    
    border-top: 3px solid #fff;
    
    position: relative;
    
    font-size: 18px;
    color:#fff;
    text-transform: uppercase;
    opacity: 0.7;
}

.slider_item.active{
    opacity: 1;
}

.slider_item.active:before{
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    
    background-color: #f38181;
    
    position: absolute;
    top:-3px;
    left: 0;
    z-index: 1;

}
.slider_num{
    font-size: 24px;
    font-weight: 700;
}


/* Section */

.section {
    padding: 80px 0;
    
}

.section--devices{
    
    margin-bottom: 20px;
    
    background: url('../images/images/images/devices-bg.jpg') center no-repeat;
    
    -webkit-background-size: cover;
    background-size: cover;
    padding-bottom: 0;
}

.section--clients{
    background: url('../images/images/images/background_02.jpg') center no-repeat;
    
    -webkit-background-size: cover;
    background-size: cover;
    padding-bottom: 0;
    
    margin-bottom: 20px;    
}

.section--map{
    background: url(../images/images/images/map_background_02.jpg) center no-repeat;
    
}


.section_header{

    width: 100%;
    max-width: 950px;

    margin: 0 auto 50px;
    
    text-align: center;
}

.section_suptitle{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333;
}

.section_title{
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333; 
    text-transform: uppercase;
}

.section_title:after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 30px auto ;
}

.section_text{
    font-size: 15px;
    color:#999;
}

/* Card */

.card{
    
    display: flex;
    margin-top: 80px -15px 0;
    justify-content: space-between;
    
    
}

.card_item{
    width: 33,333%;
    padding: 0 15px;
    
    
}

.card_inner{
    background-color: #95e1d3;
    position: relative;
}

.card_inner:hover .card_img{
    transform: translate3d(-10px, -10px, 0);
}

.card_inner:hover .card_img img{
    opacity: 0.3
}

.card_inner:hover .card_text{
    opacity: 1;
}

.card_img{
    background: linear-gradient(to bottom, #f38181,#fce38a );
    
    transition: transform 0.2s linear;   
}

.card_img img{
    transition: opacity 0.1s linear;
    display: block;
    max-width: 100%;
    max-height: auto;
}

.card_text{
    width: 100%;
    
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    
    position: absolute;
    top:50%;
    left:0;
    z-index: 2;
    transform: translate3d(-10px, -30%, 0);
    
    transition: opacity 0.1s linear;
}

.card_info{
    margin-top: 20px;
    text-align: center;
}

.card_name{
    text-transform: uppercase;
    font-size: 14px;
    color:#333;
}

.card_prof{
    font-size: 15px;
    color: #999;
}



/* Statistics */

.statistics{
    background-color: #95e1d3;
}

.stat{
    display: flex;
    flex-wrap: wrap;

}

.stat_item{
    flex: 1 1 0;
    padding: 70px 25px;
    
    border-left: 1px solid #b5eae0;
    
    text-align: center;
    color: #fff;
    
}

.stat_item:last-child{
    border-right: 1px solid #b5eae0;
}

.stat_number{
    font-size:72px;
    font-weight: 700;
    margin-bottom: 10px;
}

.stat_text{
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}


/* Services */


.services{
    display: flex;
    flex-wrap: wrap;
}

.services_item{
    width:33.333%; 
    position: relative;
    margin-bottom: 40px;
    padding: 0 35px 40px 85px;
   
}

.services_item--border{
    border-bottom: 1px solid #e5e5e5;
}

.services_img{
    left: 29px;
    top:0;
    position: absolute;
    
    
    z-index: 1;
}

.services_title{
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}

.services_text{
    font-size: 15px;
    color: #999;
}


/* Devices */

.devices{
    width: 100%;
    max-width: 600px;
    
    margin: 0 auto;
    
    position: relative;
    
}

.devices_item{
    display: block;
    max-width: 100%;
    height: auto;
}

.devices_item--iphone{
    position: absolute;
    
    bottom:-70px;
    right: 0;
    z-index: 1;
}


/* We do */

.wedo{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.wedo_item{
    width: 50%;
    padding: 0 15px; 
}

.wedo_img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* accordion */

.accordion_item{
    border-bottom-color: #e5e5e5;
    
    margin-bottom: 10px;
}

.accordion_item.active
.accordion_content{
    display: block;
    
}

.accordion_item.active
.accordion_header{
    border-bottom-color:  #e5e5e5;
}

.accordion_item.active
.accordion_header:after{
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion_header{
    border-bottom: 1px solid #e5e5e5;
    
    padding: 15px 20px 15px 60px;
    position: relative;
    
    cursor: pointer;
}

.accordion_header:after{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
        
}



.accordion_content{
    padding: 15px 20px;
    
    color: #999;
    font-size: 15px;
    
    display: none;
}

.accordion_title{
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    
}

.accordion_icon{
    position: absolute;
    
    top: 50%;
    left: 15px;
    z-index: 1;

    transform: translateY(-50%) ;
}





/* reviews */

.reviews{
    padding: 0 110px;
    position: relative;
}

.reviews_item{
    padding-left: 255px;
    
    position: relative;
}

.reviews_img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.reviews_text{
    font-size: 24px;
    color:#999;
    
    margin-bottom: 15px;
}

.reviews_author{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color:#333;
}


.reviews_author:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    
    background-color: #d98080;
    
}

.reviews_btn{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    
    font-size: 0;
    color: transparent;
    
}

.reviews_btn:after{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    
    
    
}


.reviews_btn--pref{
    left: 0;
    transform:  rotate(-45deg);
}

.reviews_btn--next{
    right: 0;
    transform:  rotate(135deg);
}

/* Social */



.social{
    display: flex;
    justify-content: center;
}

.social_item{
    background-color: #f5e28e;
    border-right: 1px solid #d98080;
    text-decoration: none;
    color: #d98080;
    
    font-size: 30px;
    
    padding: 12px 10px;
    width: 56px;
    height: 56px;
    
    transition: background 0.1s linear, color 0.1s linear;
}

.social_item:last-child{
    border-right: 0;
}

.social_item:hover{
    background-color: #d98080;
    color: #fff;
}

/* Logos */

.logos{
    padding: 120px;
    position: relative;
}

.logos_item{
    display: block;
    position: absolute;
   margin-bottom: 70px;
    top:50%;
    
}


/* Examples */

.examples{
    display: flex;
    
}

.examples_col{
   flex: 1 1 0;   
}

.examples_item{
    position: relative;
    background: linear-gradient(to bottom, #f38181,#fce38a );
}

.examples_item:hover .examples_img{
    opacity: 0.1
}

.examples_item:hover .examples_info{
    opacity: 1;
}

.examples_img{
    transition: opacity 0.1s linear;
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.examples_info{
   width: 100%;
    padding: 0 15px;
   
    color: #fff;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 0;
    
    opacity: 0;
    
    transform: translate3d(0, -50%, 0);
    transition: opacity 0.1s linear;
}

.examples_title{
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
}

.examples_text{
    font-size: 15px;
    font-style: italic;
    color:#fff;
}

.examples_logo{
    padding: 20px;
}


/* clients */

.clients{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}


.clients_item{
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;
}

.clients_name{
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    
}

.clients_prof{
    font-size: 15px;
    font-style: italic;
    color:#999;
}

.clients_prof:after{
    content: '';
    display: block;
    background-color:#d98080;
    width: 60px;
    height: 3px;
    margin: 20px 0;
}

.clients_text{
    font-size: 14px;
    color:#999;
    
}

.clients_photo{
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
    
    border-radius: 50%;
}


/* Blog */

.blog{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog_item{
   width: 28%; 
    cursor:pointer;
}

.blog_title{
    
    margin: 15px auto;
    font-size: 14px;
    text-transform: uppercase;
    color:#333;
    font-weight: 700;
}

.blog_title:hover{
    text-decoration: underline;
}


.blog_text{
    font-size: 13px;
    color:#999;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
}

.blog_img{
    position: relative;
}

.blog_date{
    position: absolute;

    background-color: #95e1d3;
    z-index: 1;
    bottom: 10px;
    left: -10px;
    
    width: 60px;
    height: 70px;
    text-align: center;
    padding: 15px;
    
    
    color: #fff;
}
    
.blog_date_day{
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.blog_date_month{
    font-size: 16px;
    font-style: italic;
}

.blog_stats{
    padding-top: 14px;
    
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999;
    
}

.blog_stats_item{
    display: inline-block;
    align-content: center;
    margin-right: 10px;
}

.blog_stats i{
    color:#95e1d3;
}



/* Map */


.map{
    text-align: center;
}

.map_title{
    font-size: 24px;
    color: #f38181;
    text-transform: uppercase;
    font-weight: 700;
}


.map_title a{
    text-decoration: none;
    color: inherit;
}

.map_title a:hover{
    text-decoration: underline;
}

.map_title a:after{
    content:'';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 15px auto 15px;
    
}


/* Footer */

.footer{
    padding-top: 65px;
}

.footer_inner{
    padding-bottom: 65px;
    
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

}

.footer_col--first{
    width: 40%;
}

.footer_col--second{
    width: 29%;
}

.footer_col--third{
    width: 22%;
}


.footer_logo{
    font-size: 46px;
    font-weight: 900;
    color: #cccccc;
    margin-bottom: 30px;
}

.footer_text{
    font-size: 15px;
    color: #ccc;
    margin-bottom: 30px;
}

.footer_social{
    margin-bottom: 25px;
}

.footer_social_header{
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
}

.footer_social_header b{
    font-size:18px;
}

.footer_social_content{
    padding-top: 15px;
    color: #999;
    font-style: italic;

}

.footer_social_content a{
    color: #95e1d3;
    font-size: 18px;
    margin-left: 10px;
    
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

.footer_title{
    font-size: 14px;
    text-transform: uppercase;
    color:#333;
    font-weight:700;
    margin: 25px 0;
}


/* subscribe */

.subscribe{
    width: 100%;
    max-width: 380px;
    display:flex;
}

.subscribe_input{
    font-family: 'Montserrat', sans-serif;
    
    
    background-color: #fff;
    border: 1px solid #e7e7e7;
    font-size: 15px;
    font-style: italic;
    color: #333;
    
    padding: 12px;
    height: 40px;
    width: 60%;
    
    border-right: 0;
   
}

.subscribe_input::placeholder{
    color: #ccc;
}

.subscribe_btn{
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    background-color: #95e1d3;
    
    font-weight: 900;
    text-transform: uppercase;
    color:#fff;
    font-size: 14px;
    padding: 12px 30px;
    
    
    border: 0;
    width: 40%;
    cursor: pointer;
    
    transition: background 0.1s linear;
}

.subscribe_btn:hover{
    background-color: #79b5aa;
    
}

.subscribe_btn:focus{
    outline: 0;
}

.subscribe_input:focus{
    outline: 0;
    border-color:#95e1d3;
}

/* Blogs */

.blogs_item{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.blogs_img{
    width: 120px;
    height: 80px;
    
}

.blogs_content{
    padding: 20px;
}

.blogs_title{
    display: block;
    font-size: 10px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 700;
}

.blogs_title:hover{
    text-decoration: underline;
}

.blogs_date{
    color: #999;
    font-size: 13px;
    font-style: italic;
}



/* instagram */


.instagram{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
}

.instagram_item{
    
    width: 33%;
    border: 1px solid #fff;
    border-bottom: 0;
    
}

.instagram_img{
    max-width: 100%;
    height: auto;
}

/* copyright */

.copyright{
    text-align: center;
    border-top: 1px solid #e5e5e5;
    padding: 25px 0;
    
    font-size: 14px;
    color: #333;
    font-weight: 700;
}

.copyright span{
    color: #f38181;
}

@media (max-width:1230px){
    
    /* section */
    .section_header section_header--works{
        padding: 0;
    } 
    
    /* Intro */
    
    .intro_suptitle{
        font-size: 52px;
    }
    
    .intro_title{
        font-size: 120px;
    }
    
    
    /* Reviews */

    .reviews_text{
        font-size: 20px;
    }
    
    /* Logos */
    
    .logos_item{
        display: none;
        padding: 0;
    }
    
    
    
}



@media (max-width:990px){
    
    /* Intro */
    
    .intro_suptitle{
        font-size: 32px;
    }
    
    .intro_title{
        font-size: 80px;
    }
    
    /* Stat */
    
    .stat{
         justify-content: center;
    }
    
    .stat_item{
        flex:none;
        width: 33.333%;
        border: 0; 
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .stat_item:last-child{
        border: 0;
    }
    
    /* Services */
    
    .services_item{
        width: 50%;
        padding-bottom: 0;
    }
    .services_item--border{
        border-bottom: 0;
    }
    
    /* Reviews */

    .reviews{
        padding: 0 60px;
    }
    
    .reviews_text{
        font-size: 20px;
    }
    
    .reviews_img{
        width: 150px;
        height: 150px;
        
    }
    
    .reviews_item{
        padding-left: 175px;
    }
    
    /* Clients */
   
    .clients{
        max-width: 600px;
        margin: 0 auto;
    }
    
    .clients_item{
        width: 100%;
        padding-right: 0;
    }
    
    .clients_item:last-child{
        margin-bottom: 0;
    }
    
    /* Blog */
    
    .blog{
        max-width: 380px;
        margin: 0 auto;
    }
    
    .blog_item{
        width: 100%;
        margin-bottom: 30px;
        
    }
    
    .blog_item:last-child{
        margin-bottom: 0;
    }
    
    /* footer */
    
    .footer_col{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    
    /* subscribe */
    
    .subscribe{
        margin: 0 auto;
    }
    
    
    /* Blogs */
    
    .blogs_item{
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    
    /* Instagram */
    
    .instagram{
        flex-wrap: nowrap;
    }
}

@media (max-width:770px){
    
    /* Intro */
    
    .intro{
        min-height: 650px;
    }
    
    /* header */
    
    .header{
        padding: 10px 0;
    }
    
    /* Nav */
    
    .nav{
        display: none;
        
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        
        background-color: #eb8b8d;
    }
    
    .nav.active{
        display: block;
    }
    .nav_link{
        display: block;
        margin: 0;
        padding: 5px 20px;
    }
    
    .nav_toggle{
        display: block;
    }
    
    
    /* Section */
    
    .section{
        padding: 40px 0;
        padding-bottom: 0;
    }
    
    /* Card */
    
    .card{
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .card_item{
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
        
    }
    
    /* Slider */
    
    .slider_text{
        display: none;
    }
    
    .slider_item.active:before{
        width: 50%;
    }
    
    /* Services */
    .services{
    justify-content: center;    
    }
    
    .services_item{
        width: 100%;
        max-width: 400px;
        padding-left: 55px;
        padding-right: 0;
    }
    
    .services_img{
        left: 0;
    }

 /* We do */

    .wedo_img{
    display: none;
}

    .wedo_item{
        width: 100%;
    }

    /* Reviews */
    
    .reviews_img{
        position: static;
        margin: 0 auto 20px;
    }
    
    .reviews_item{
        padding-left: 0;
    }
    
    .reviews_text{
        font-size: 16px;
    }
    
    .reviews_author{
        font-size: 20px;
    }
    
    /* examples */
    
    .examples{
        flex-wrap: wrap;
    }
    
    .examples_col{
        width: 50%;
        flex: none;
    }
    
    
    
}

   

@media (max-width:575px){
    
    /* Intro */
    
    
    
    .intro_suptitle{
        font-size: 22px;
    }
    
    .intro_title{
        font-size: 40px;
    }

    /* Slider */
    
    .section_header{
        margin-bottom: 30px;
    }
    
    .section_suptitle{
        font-size: 20px;
        
    }
    
    .section_title{
        font-size: 24px;
    }
    
    .section_title_after{
        margin: 20px auto;
    }

    /* Stat */
    
    .stat_item{
        width: 100%;
        border-bottom: 1px solid #b5eae0;
    }
    
    .stat_number{
        font-size: 52px;
    }

/* Device */

    .devices{
        max-width: 320px;
    }

    .devices_item--iphone{
        bottom: -50px;
        right: -80px;
        width: 180px;
    }

    /* Reviews */
    
    .reviews{
        padding: 0;
    }
    
    .reviews_btn{
        top:18%;
    }
    
    /* examples */
    
    .examples_col{
        width: 100%;
    }
    
    /* Clients */
    
    .clients_photo{
        position: static;
    }
    
    .clients_item{
        padding-left: 0;
        text-align: center;
        
    }
    .clients_prof:after{
        margin: 15px auto;
    }
    
    
    /* Instagram */
    
    .instagram{
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0;
        max-width: 300px;
    }
    
    .instagram_item{
        width: 33%;
        
    }
    
    
    /* subscribe */
    
    .subscribe{
        flex-wrap:wrap;
    }
    
    .subscribe_input, .subscribe_btn{
        width: 100%;
    }
    
    .subscribe_input{
        margin-bottom: 10px;
        border-right: 1px solid #e7e7e7;
        text-align: center;
    }
    
    /* Footer  */
    
    .footer_social_content a{
        font-size: 14px;
    }
    
}






